In [1]:
import pandas as pd

In [6]:
hospital = pd.read_csv("archivo_hospitales2.csv", sep=",")

hospital.head(2)
# hospital.columns

,WKT,ID,NOMBRE,NOM_MAP,OBJETO,CALLE,ALTURA,DOM_NORMA,DOM_GEO,TELEFONO,GUARDIA,FAX,WEB,COD_POSTAL,TIPO,TIPO_ESPEC,MOD_AT_1,MOD_AT_2,DEPEND_ADM,DIRECTOR
0,POINT (-58.3775508488443 -34.6288473603881),1.0,HOSPITAL GENERAL DE NIÑOS PEDRO DE ELIZALDE,HOSP. DE ELIZALDE,HOSPITAL,MANUEL A. MONTES DE OCA,40,"MONTES DE OCA, MANUEL AV. 40","40 MONTES DE OCA, MANUEL AV.",4307-5842 / 5844,4307-5442 / 4300-1700,4302-7400,www.elizalde.gov.ar,C1270AAN,Hospital de niños,PEDIATRIA,AT. AMB./INTERNACION,DIAG./TRATAM.,Ministerio de Salud GCBA,Dr. Javier Indart
1,POINT (-58.4120700769456 -34.5941919726393),2.0,HOSPITAL GENERAL DE NIÑOS RICARDO GUTIERREZ,HOSP. GUTIERREZ,HOSPITAL,GALLO,1330,GALLO 1330,1330 GALLO,4962-9247 / 9248 / 9280,4962-9232,4962-3762,www.guti.gov.ar,C1425EFD,Hospital de niños,PEDIATRIA,AT. AMB./INTERNACION,DIAG./TRATAM.,Ministerio de Salud GCBA,Dra. María Cristina Galoppo

In [47]:
hospital = hospital [['WKT', 'DOM_NORMA', 'NOMBRE']]
hospital.columns

Index(['WKT', 'DOM_NORMA', 'NOMBRE'], dtype='object')

In [48]:
hospital.loc[:,"WKT"] = hospital["WKT"].str.replace("POINT ","")
hospital.loc[:,"WKT"] = hospital["WKT"].str.replace("(","")
hospital.loc[:,"WKT"] = hospital["WKT"].str.replace(")","")
hospital.head(2)

,WKT,DOM_NORMA,NOMBRE
0,-58.3775508488443 -34.6288473603881,"MONTES DE OCA, MANUEL AV. 40",HOSPITAL GENERAL DE NIÑOS PEDRO DE ELIZALDE
1,-58.4120700769456 -34.5941919726393,GALLO 1330,HOSPITAL GENERAL DE NIÑOS RICARDO GUTIERREZ

In [49]:
coordenadas = hospital["WKT"].str.split(expand=True)
coordenadas.head(2)

                   0                  1
0  -58.3775508488443  -34.6288473603881
1  -58.4120700769456  -34.5941919726393

In [52]:
# hospital[["LATITUD", "LONGITUD"]] = hospital["WKT"].str.split(" ", expand=True)
# hospital.head(2)

In [53]:
# viene de dividir WKT en 3 columnas separada por " ". Se elimina la primer columnade POINT y se editan los caracteres de las otras dos columnas restantes
'''
coordenadas[1] = coordenadas[1].str.replace("(","")
coordenadas[2] = coordenadas[2].str.replace(")","")
coordenadas[1] = coordenadas[1].str.replace(" ","")
coordenadas[2] = coordenadas[2].str.replace(" ","")
'''

'\ncoordenadas[1] = coordenadas[1].str.replace("(","")\ncoordenadas[2] = coordenadas[2].str.replace(")","")\ncoordenadas[1] = coordenadas[1].str.replace(" ","")\ncoordenadas[2] = coordenadas[2].str.replace(" ","")\n'

In [54]:
hospital = pd.concat ([coordenadas, hospital], axis=1)
hospital.head(2)

,0,1,WKT,DOM_NORMA,NOMBRE
0,-58.3775508488443,-34.6288473603881,-58.3775508488443 -34.6288473603881,"MONTES DE OCA, MANUEL AV. 40",HOSPITAL GENERAL DE NIÑOS PEDRO DE ELIZALDE
1,-58.4120700769456,-34.5941919726393,-58.4120700769456 -34.5941919726393,GALLO 1330,HOSPITAL GENERAL DE NIÑOS RICARDO GUTIERREZ

In [55]:
del coordenadas
del hospital["WKT"]
hospital.head(2)

,0,1,DOM_NORMA,NOMBRE
0,-58.3775508488443,-34.6288473603881,"MONTES DE OCA, MANUEL AV. 40",HOSPITAL GENERAL DE NIÑOS PEDRO DE ELIZALDE
1,-58.4120700769456,-34.5941919726393,GALLO 1330,HOSPITAL GENERAL DE NIÑOS RICARDO GUTIERREZ

In [56]:
hospital.columns = [["LATITUD", "LONGITUD", "NAME", "LABEL"]]
hospital.head(2)

,LATITUD,LONGITUD,NAME,LABEL
0,-58.3775508488443,-34.6288473603881,"MONTES DE OCA, MANUEL AV. 40",HOSPITAL GENERAL DE NIÑOS PEDRO DE ELIZALDE
1,-58.4120700769456,-34.5941919726393,GALLO 1330,HOSPITAL GENERAL DE NIÑOS RICARDO GUTIERREZ

In [63]:
# hospital["LATITUD"] = pd.to_numeric(hospital["LATITUD"])
# hospital["LONGITUD"] = pd.to_numeric(list(hospital["LONGITUD"])<)

In [65]:
hospital["LATITUD"] = hospital["LATITUD"].astype(float)                 # hospital["LATITUD"] = pd.to_numeric(hospital["LATITUD"])
hospital["LONGITUD"] = hospital["LONGITUD"].astype(float)               # hospital["LONGITUD"] = pd.to_numeric(hospital["LONGITUD"])
hospital.dtypes

LATITUD     float64
LONGITUD    float64
NAME         object
LABEL        object
dtype: object

In [67]:
hospital.to_csv("clase_04_ivan_archivo.csv", index=False)