In [2]:
import pymysql

In [34]:
# Establecer la conexion (pasar host dir, puerto, user)
conexion = pymysql.connect(
    host='localhost',
    user='root',
    password='IDrojas-88',
    database='henry'
)

cursor = conexion.cursor()

Traer informaci√≥n

In [35]:
cursor.execute('''  SELECT alumnoID, nombre, apellido
                    FROM alumno
                    LIMIT 5''')
#alumnos = cursor.fetchall()
#alumnos = cursor.fetchone()
alumnos = cursor.fetchmany(5)

#alumnos
#type(alumnos)
#alumnos[0]

for alumno in alumnos:
    print(alumno)

(1, 'Candice', 'Rojas')
(2, 'Beverly', 'Gardner')
(3, 'Carlos', 'Frank')
(4, 'Callum', 'Velazquez')
(5, 'Kelly', 'Strickland')

Insertar datos

In [36]:
cursor.execute  ("""INSERT INTO alumno
                    VALUES (181, '32547891', 'Pablo', 'Gonzalez', '1998-06-06', '2022-05-06', 1243)""")

1

In [37]:
conexion.commit()

In [38]:
conexion.close()

In [3]:
# Establecer la conexion (pasar host dir, puerto, user)

conexion = pymysql.connect(
    host='localhost',
    user='root',
    password='IDrojas-88',
    database='test'
)

cursor = conexion.cursor()

In [42]:
#ingresar valor por valor

nombre = 'Gonzalo'
edad = 34

cursor.execute("INSERT INTO persona (Nombre, Edad) VALUES(%s,%s)", (nombre, edad))

conexion.commit()

In [4]:
personas = [
    ('Jimena', 33),
    ('Carlos', 25),
    ('Ana', 31)
]

cursor.executemany("INSERT INTO persona (Nombre, Edad) VALUES(%s,%s)", personas)

conexion.commit()

In [5]:
conexion.close()

# BONUS TRACK
Como bajar desde la web

In [13]:
import requests
import pymysql
from io import StringIO
import csv

In [11]:
respuesta = requests.get('https://cdn.buenosaires.gob.ar/datosabiertos/datasets/ente-de-turismo/oferta-establecimientos-gastronomicos/oferta_gastronomica.csv')
# print(respuesta.text)

respuesta.encoding = 'utf-8'
respuesta = respuesta.text
documento = csv.reader(StringIO(respuesta))
next(documento)
locales = [(linea[3], linea[4], linea[13], linea[14], linea[15][7:]) for linea in documento]

In [16]:
conexion = pymysql.connect(
    host='localhost',
    user='root',
    password='IDrojas-88',
    database='test'
)

cursor = conexion.cursor()
cursor.execute("TRUNCATE TABLE oferta_gastronomica")
query = 'INSERT INTO oferta_gastronomica (nombre, categoria, direccion, barrio, comuna) VALUES(%s,%s,%s,%s,%s)'
cursor.executemany(query, locales)
conexion.commit()
conexion.close()